/* .html {
} */
/* div {
    background: url(topography.png);
} */
.wrapper {
  margin-right: auto;
  margin-left:  5em;

  width: 960px;
}

.headshot {
    height: 400px; /*change to em units once you make it block style */
    width: 400px;
}

.work {
  margin: auto;
}
